<mat-card class="app-card">
  <mat-card-header>
    <mat-card-title>About</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem donec massa sapien faucibus. Diam vulputate ut pharetra sit amet aliquam id. Rutrum tellus pellentesque eu tincidunt
      tortor aliquam nulla facilisi cras. Tincidunt lobortis feugiat vivamus at augue eget. Turpis egestas maecenas pharetra convallis posuere morbi.
      Tincidunt nunc pulvinar sapien et. Vestibulum lorem sed risus ultricies. Egestas diam in arcu cursus euismod quis viverra nibh. Aliquam faucibus purus in massa tempor.
      Orci sagittis eu volutpat odio facilisis mauris sit. Duis at tellus at urna. Commodo ullamcorper a lacus vestibulum sed arcu non.</p>

    <p>Dolor sit amet consectetur adipiscing elit ut aliquam. In arcu cursus euismod quis viverra. Velit ut tortor pretium viverra suspendisse potenti.
      Quam viverra orci sagittis eu. Felis eget nunc lobortis mattis aliquam faucibus purus in. Iaculis nunc sed augue lacus viverra. Sagittis nisl rhoncus mattis
      rhoncus urna neque viverra. Mauris pharetra et ultrices neque. Adipiscing bibendum est ultricies integer. Libero justo laoreet sit amet cursus.</p>

    <p>Ullamcorper velit sed ullamcorper morbi. Eget egestas purus viverra accumsan in nisl. Purus sit amet volutpat consequat mauris nunc congue nisi.
      Etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Ut sem viverra aliquet eget sit. Ultrices vitae auctor eu augue ut lectus arcu.
      Vulputate eu scelerisque felis imperdiet. Malesuada fames ac turpis egestas. Massa tincidunt dui ut ornare lectus. Massa sapien faucibus et molestie ac feugiat sed lectus.</p>

    <p>Nisl tincidunt eget nullam non nisi est sit. Ornare arcu dui vivamus arcu. Amet mattis vulputate enim nulla aliquet. Faucibus purus in massa tempor nec feugiat.
      Felis bibendum ut tristique et egestas quis ipsum suspendisse. Luctus accumsan tortor posuere ac ut consequat semper viverra. Varius morbi enim nunc faucibus a. Faucibus
      in ornare quam viverra orci. Diam quis enim lobortis scelerisque fermentum dui faucibus in ornare. Arcu risus quis varius quam quisque id diam vel quam. Pretium fusce id
      velit ut tortor pretium viverra suspendisse. Egestas purus viverra accumsan in nisl nisi scelerisque eu.</p>

    <p>Risus nec feugiat in fermentum posuere. Lacus luctus accumsan tortor posuere ac. Fusce id velit ut tortor.
      Sit amet est placerat in egestas erat imperdiet sed. Nunc pulvinar sapien et ligula ullamcorper malesuada.
      Tellus elementum sagittis vitae et leo duis ut diam. Varius vel pharetra vel turpis nunc eget lorem dolor sed.
      Porttitor lacus luctus accumsan tortor. Nulla malesuada pellentesque elit eget gravida cum sociis natoque.
      Nunc vel risus commodo viverra maecenas accumsan lacus vel facilisis. Dui accumsan sit amet nulla.
      Diam vulputate ut pharetra sit amet. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum.
      At volutpat diam ut venenatis tellus in metus. Hendrerit gravida rutrum quisque non tellus. Amet nisl suscipit adipiscing bibendum est. Egestas tellus rutrum tellus pellentesque.</p>
  </mat-card-content>
</mat-card>
