<mat-card class="app-card">
  <mat-card-header>
    <mat-card-title>Event detail</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-list *ngIf="event">
      <mat-list-item>{{ event.title }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{ event.description }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{ event.start_date }} =>  {{ event.end_date }}</mat-list-item>
    </mat-list>


    <div>
      <button mat-button type="button" color="accent" (click)="edit(event.id)">
        <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon> Edit
      </button>

      <button mat-button type="button" color="warn" (click)="remove(event.id)">
        <mat-icon aria-label="Example icon-button with a heart icon">delete_forever</mat-icon> Remove
      </button>
    </div>


  </mat-card-content>
</mat-card>

